@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import 'tailwindcss';

body {
  min-height: 100vh;
}

.search-part-container {
  background-image: url('/public/images/pattern-bg-mobile.png');
  background-position: center;
  background-size: cover;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 376px) {
  .search-part-container {
    background-image: url('/public/images/pattern-bg-desktop.png');
    background-position: center;
  background-size: cover;
  }
}

@theme {
  --color-very-dark-grey: hsl(0, 0%, 17%);
  --color-dark-grey: hsl(0, 0%, 59%)
}

button {
  cursor: pointer;
}